@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

::before,
::after,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}
img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}
a {
    text-decoration: none;
    color: white;
}
button {
    cursor: pointer;
}
ul {
    list-style-type: none;
}
.navbar {
    padding: 2rem;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Asegura que el fondo ocupe el 100% del ancho de la ventana */
}
.navbar_background {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.navbar__logo {
    display: flex;
    gap: 24px;
    align-items: center;
    margin-bottom: 1rem;
}
.navbar__logo img {
    max-width: 10rem;
    width: 90%;
}
.navbar__logo a {
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}
.navbar__logo a:hover {
    text-decoration: underline;
}
.navbar__buttons {
    display: flex;
    flex-direction: row;
    gap: 24px;
    flex-wrap: wrap;
}
.button {
    border-radius: 0.5rem;
    padding: 0.8rem 1.8rem;
    font-size: 1.2rem;
}
.button--grey {
    background-color: #191A1B;
    color: white;
    border: 1px solid white;
}
.button--blue {
    background-color: #4C5FD5;   
    border: none;
    color: white;
    transition: all 0.3s ease;
}
.button--blue:hover {
    background-color: #6775ce;
}
.button:nth-child(2) {
    padding: 0.8rem 2rem;
}
.container {
    height: 30rem;
    background-color: #DADBF1 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    max-width: 100%;
    margin-bottom: 10rem;
}
.container h1 {
    font-size: calc(3rem + 2vw - 1vh);
    font-weight: 500;
    text-align: center;
}
.container input {
    margin: 0 auto;
    padding: 1rem; /* Evita un padding demasiado grande en pantallas pequeñas */
    width: 100%; /* Haz que ocupe el 100% del contenedor */
    max-width: 600px; /* Pero limita el ancho máximo */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
    font-size: 1rem;
}
.help {
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 5rem;
}
.help img {
    width: 5rem;
}
.help__box {
    display: flex;
    gap: 1rem;
    margin-bottom: 5rem;
}
.help__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.help__content h2 {
    font-size: 1.5rem;
}
.help__content p {
    font-size: 1.2rem;
}
.help__content a {
    color: #4C5FD5;
}
.help__content a:hover{
    text-decoration: underline;
}
@media (max-width: 760px) {
    .help {
        grid-template-columns: 1fr;
    }
}
.polytics {
    display: flex;
    justify-content: space-around;
    height: 15rem;
    background-color: black;
    color: white;
    flex-wrap: wrap;
}
.polytics__container{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
}